<h1>All lists</h1>
<p>Welcome to THE APP! 👋</p>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<%= link_to 'Create new list', new_list_path %>
